<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <meta name="referrer" content="no-referrer" />
  <!-- Google Fonts - Archivo Black -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
   rel="stylesheet"
  />
  <!-- tailwindcss -->
  <link
   href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
   rel="stylesheet"
  />
  <!-- 設定ファイル -->
  <script src="../../config.js"></script>
 </head>
 <body>
  <div id="App"></div>
  <!-- Vue3 -->
  <script src="<%= vuePath %>"></script>
  <!-- OneSDK -->
  <script src="../<%= onesdkPath %>"></script>
  <!-- Anime.js CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
 </body>
</html>
