<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8" />
 <meta name="referrer" content="no-referrer" />
 <!-- 設定ファイル -->
 <script src="<%= configPath %>"></script>
</head>

<body hidden>
 <div id="App"></div>
 <!-- Vue3 -->
 <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
 <!-- Tailwind CSS CDN -->
 <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>