<!DOCTYPE html>
<html data-theme="light">

<head>
 <meta charset="UTF-8" />
 <meta name="referrer" content="no-referrer" />
 <!-- 設定ファイル -->
 <script src="./config.js"></script>

</head>

<body>
 <div id="App"></div>
 <!-- Vue3 -->
 <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</body>

</html>