<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <meta name="referrer" content="no-referrer" />
  <!-- tailwindcss -->
  <link
   href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
   rel="stylesheet"
  />
  <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <!-- 設定ファイル -->
  <script src="../../config.js"></script>
 </head>
 <body hidden>
  <div id="App"></div>
  <!-- Vue3 -->
  <script src="<%= vuePath %>"></script>
  <!-- OneSDK -->
  <script src="../<%= onesdkPath %>"></script>
 </body>
</html>
