<!doctype html>
<html>

<head>
 <meta charset="UTF-8" />
 <meta name="referrer" content="no-referrer" />
 <link rel="stylesheet" href="<%= cssPath %>" />
</head>

<body hidden>
 <div id="container" class="container"></div>

 <script src="<%= vuePath %>"></script>
 <script src="<%= onesdkPath %>"></script>
</body>

</html>