/* light-green Color */
:root {
 --primary-color: #689F38; /* darken-2 */
 --secondary-color: #9E9D24;/* accent-3 */
 --background-light: #F1F8E9;/* lighten-5 */
 --background-medium: #DCEDC8;/* lighten-4 */
}