/* app.css */
@import 'tailwindcss';
@plugin "daisyui" {
 themes: all;
}

@plugin "daisyui/theme" {
 name: 'light';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'dark';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'cupcake';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'bumblebee';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'emerald';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'corporate';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'synthwave';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'retro';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'cyberpunk';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'valentine';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'halloween';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'garden';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'forest';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'aqua';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'lofi';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'pastel';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'fantasy';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'wireframe';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'black';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'luxury';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'dracula';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'cmyk';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'autumn';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'business';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'acid';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'lemonade';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'night';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'coffee';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'winter';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'dim';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'nord';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'sunset';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'caramellatte';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'abyss';
 --color-base-100: transparent;
}

@plugin "daisyui/theme" {
 name: 'silk';
 --color-base-100: transparent;
}
