/* black Color */
:root {
 --primary-color: #FAFAFA; /* darken-2 */
 --secondary-color: #FAFAFA;/* accent-3 */
 --background-light: #212121;/* lighten-5 */
 --background-medium: #212121;/* lighten-4 */
}