/* monoqlo Color */
:root {
 --primary-color: #212121; /* darken-2 */
 --secondary-color: #212121;/* accent-3 */
 --background-light: #FAFAFA;/* lighten-5 */
 --background-medium: #FAFAFA;/* lighten-4 */
}