doctype html
html(lang="ja", data-theme="dark")
  head
    meta(charset="UTF-8")
    meta(name="referrer", content="no-referrer")
    title おみくじBOTちゃん コンフィグエディター
    // 設定ファイル
    script(src="./config.js")
    script(src="./omikujiData.js")
  body
    div(id="App")
    // Vue3
    script(src="https://unpkg.com/vue@3/dist/vue.global.prod.js")
