<!doctype html>
<html lang="ja">

<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>My App</title>
</head>

<body>
 <div id="App"></div>
 <!-- 設定ファイル(SplashNiceを参照してます) -->
 <script src="./src/apps/maker/config.js"></script>
 <!-- Vue3 -->
 <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
 <!-- Tailwind CSS CDN -->
 <script src="https://cdn.tailwindcss.com"></script>
 <!-- ■■■対象のエントリーポイント■■■ -->
 <script type="module" src="./src/main.ts"></script>
</body>

</html>