<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <meta name="referrer" content="no-referrer" />
  <!-- わんコメ依存のCSS(preset.basicに入っているものを使ってください) -->
  <link rel="stylesheet" href="./style.css" />
  <!-- 設定ファイル -->
  <script src="./config.js"></script>
 </head>
 <body hidden>
  <div id="App"></div>
  <!-- Vue3 -->
  <script src="../__origin/js/vue3.min.js"></script>
  <!-- OneSDK -->
  <script src="../__origin/js/onesdk.js"></script>
 </body>
</html>
